{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} | Annuler une sortie {% endblock %}

{% block main %}
    <div class="d-flex justify-content-center align-items-center m-auto">
        <a href="{{ path('home') }}" class="btn btn-md btn-link" >Retourner à l'accueil</a>
    </div>
{% endblock %}


